@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* DarkMode */
  --dark-blue-element: hsl(209, 23%, 22%);
  --very-dark-blue-bg: hsl(207, 26%, 17%);

  /* LightMode */
  --very-dark-blue-text: hsl(200, 15%, 8%);
  --dark-gray-input: hsl(0, 0%, 52%);
  --very-light-gray-bg: hsl(0, 0%, 98%);

  /* light mode element and dark mode element*/
  --color-white: hsl(0, 0%, 100%);
}

html {
  font-size: 62.5%;
}

body {
  font-weight: 300;
  font-size: 1.4rem;
  overflow-x: hidden;
  font-optical-sizing: auto;
  font-family: "Nunito Sans", sans-serif;
  background: var(--very-light-gray-bg);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--color-white);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  padding: 3rem 4rem;
}

.navbar__mode {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar__mode img {
  width: 2.5rem;
  height: 2.5rem;
  display: block;
}

.navbar__mode h2 {
  font-size: 2rem;
}

.header {
  padding: 6rem 4rem;
}

.header__search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__search-bar {
  position: relative;
}

.header__search-bar img {
  width: 2rem;
  height: 2rem;
  display: block;

  position: absolute;
  top: 50%;
  left: 4rem;
  transform: translateY(-50%);
}

.header__search-bar input {
  padding: 1.5rem 8rem;
  font-family: inherit;
  font-size: 1.6rem;

  outline: 0;
  border: 0;
  background: var(--color-white);
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.126);
  border-radius: 0.5rem;
}

select {
  padding: 1.5rem 4rem;
  border: 0;
  outline: 0;
  background-color: var(--color-white);
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.126);
}

h2 {
  font-weight: 600;
}
